{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <!-- <link rel="stylesheet" href="{% static 'users/css/my_css.css' %}"> -->
</head>
<body>
    <form action="{% url 'register1' %}" method="POST">
        {% csrf_token %}
        <label for="">Email:</label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="">Username:</label>
        <br>
        <input type="text" name="username">
        <br>
        <label for="">Password:</label>
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <div class="">
        {% for message in messages %}
        <span> {{message}}</span>
        {% endfor %}
    </div>
</body>
</html>